@media only screen and (max-width:900px) {
    .home2 {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .home1 {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        row-gap: 1rem;
    }
}

@media only screen and (max-width:680px) {
    .home1 {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .event1 {
        height: 135px;
        width: 93%;
    }
    .event2 {
        height: 135px;
        width: 93%;

    }
    .home2 {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}